{#  -*- coding: utf-8 -*- #}
{% import 'index_helper.tmpl' as helper with context %}
{% import 'comments_helper.tmpl' as comments with context %}
{% extends 'base.tmpl' %}
{% block content %}
    {% for post in posts %}
        <article class="teaser h-entry post-{{ post.meta('type') }}">
        <h1 class="p-name"><a href="{{ post.permalink() }}" class="u-url">{{ post.title() }}</a>
             <time class="published dt-published" datetime="{{ post.date.isoformat() }}">{{ post.formatted_date(date_format)[:-6] }}</time>
        </h1>
        {% if index_teasers %}
        <div class="p-summary">
        {{ post.text(teaser_only=True) }}
        {% else %}
        <div class="e-content">
        {{ post.text(teaser_only=False) }}
        {% endif %}
        </div>
        {% if not post.meta('nocomments') %}
            {{ comments.comment_link(post.permalink(), post._base_path) }}
        {% endif %}
        </article>
    {% endfor %}
    {{ helper.html_pager() }}
    {{ comments.comment_link_script() }}
	{{ helper.mathjax_script(posts) }}
{% endblock %}
